<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Face Mask Detection</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Upload an Image to Classify</h1>
        <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input type="file" id="image" name="image" accept="image/*" required>
            <button type="submit">Classify</button>
        </form>
        {% if prediction_result != False %}
        <img src="data:image/jpeg;base64,{{ myimg }}" alt="Uploaded Image">
            <p class="prediction">Prediction: {{ prediction_result }}</p>
        {% endif %}
    </div>    
</body>
</html>